build/*
m4/*
bin/*
autom4te.cache/*
aclocal.m4
*/Makefile.in
config.guess
config.sub
*~
**/.DS_Store
**/*.swp
Makefile.in
**/Makefile.in/*
missing
install-sh
depcomp
config.sub
config.guess
compile
ltmain.sh
config.h.in
configure
